extends ../shared/layout

block main-content
    div.panel.panel-default
        div.panel-heading
            h1
                span #{course.name}
                span.pull-right.badge #{course.students.length} students
        div.panel-body
            p #{course.lecture}
        div.panel-footer
            span Created By: Pesho
            span.pull-right Today!

    h1 Available Tests
    table.table.table-bordered.table-striped.table-hover#results-table
        thead
            tr
                th Test Name
                th
        tbody
            each test in course.assignedTests
                tr
                    td
                        h4 #{test}
                    td
                        a(href=course.name.replace(/\s/g, '-') + '/test/' + test.replace(/\s/g, '-') class="btn btn-success") Participate