extends ../shared/layout

block main-content
    h4.alert.alert-success Your grade is:&nbsp;
        span.badge #{userGrade}
    ul.list-group
        each answer, question in userScore
            li.list-group-item
                | #{question} -&nbsp;
                if answer.isCorrect
                    | Your answer&nbsp;
                    span.label.label-success #{answer.userAnswer}
                    | &nbsp;is correct
                else
                    | Your answer&nbsp;
                    span.label.label-warning #{answer.userAnswer}
                    | &nbsp;is not correct. The correct answer is&nbsp;
                    span.span.label.label-success #{answer.correctAnswer}
    h4.alert.alert-info Correct Answers: #{correctAnswersCount}
    div.well You can read the lecture for this test by clicking&nbsp;
        a(href='/course/' + courseName) here
        |  or you can check your grades by clicking on your&nbsp;
        a(href='/profile') profile

